*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  /* align-items: center; */
  height: 100vh;
  margin-top: 20px;
  
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
 
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.section{
  width: 550px;
  height: 600px;
  background: linear-gradient(to bottom right, #3ab5ed, #186763);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  
 
}
input{
  padding: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 50px;

}
#displayArea{
  margin-top: 31px;

}

.name_weather{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.quality{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp{
  font-size: 60px;
  
}
.city{
  font-size: xx-large;
  margin: 5px;
}
label{
  font-size: large;
}
.imgQuality{
  width: 40px;
  height: 40px;
  margin: 10px
}
.getBtn{
  margin-left: 15px;
  background: linear-gradient(to bottom right, #cae3ef, #4c9592);
  height: 55px;
  border-radius:35px ;
  color: #555555;
  font-size: larger;
  font-weight: bolder;
  padding: 15px;
}
